<%= render partial: "/shared/merc_links", locals: {merchant: @merchant} %><br>
<h2>Items Ready to Ship</h2>
<section class="items-to-ship">
  <% if @items_ready_to_ship %>
    <% @items_ready_to_ship.each do |item| %>
      <div class="item-<%= item.inv_item_id %>">
        <p><%= item.name %> - Invoice <%= link_to item.inv_id, merchant_invoice_path(@merchant, item) %> - <%= item.invoice_date.strftime('%A, %B %d, %Y') %></p>
      </div>
    <% end %>
  <% end %>
</section>
<section class="favorite-customers">
  <h2>Favorite Customers</h2>
    <% if @top_customers_for_merchant %>
    <ol>
      <% @top_customers_for_merchant.each do |customer| %>
        <li><%= customer.full_name %> - <%= customer.transaction_count%> purchases</li>
      <% end %>
    </ol>
    <% end %>
</section>
