<header>
  <h1 class="alert alert-dark" style="width:500px"><center>Invoice #<%= @invoice.id %></center></h1>
  <%= render partial: "/shared/merc_links", locals: {merchant: @merchant} %><br>
</header>
<h3 class="alert alert-info"><center>Invoice #<%= @invoice.id %></center></h3>

<table class="table">
  <tr>
    <th><%= render partial: "/shared/invoice_information", locals: {invoice: @invoice, status: true} %></th>
    <th><%= render partial: "/shared/invoice_customer", locals: {customer: @invoice.customer} %></th>
  </tr>
</table>

<section class="invoice-items">
  <h3 class="white_glow"><center>Items on this Invoice:</center></h3>
  <table class="table table-striped table-borderless ">
    <thead>
      <tr style="text-align:center">
        <th class="white_glow">Item Name:</th>
        <th class="white_glow">Quantity:</th>
        <th class="white_glow">Unit Price:</th>
        <th class="white_glow">Status:</th>
        <th class="white_glow">Bulk Discount:</th>
      </tr>
    </thead>

  <% @invoice.invoice_items.each do |invoice_item| %>
    <tbody class="invoice-item-<%= invoice_item.id %>">
      <tr style="text-align:center">
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= number_to_currency(invoice_item.unit_price, precision: 2) %></td>
        <td>
          <%= form_with url: "/invoice_items/#{invoice_item.id}", method: :patch, model: invoice_item,local: true, locals: {merchant_id: @merchant.id} do |f| %>
            <%= f.hidden_field :invoice_id, value: @invoice.id %>
            <%= f.hidden_field :merchant_id, value: @merchant.id %>
            <%= f.select(:status, ["pending", "packaged", "shipped"], value: :status) %>
            <%= f.submit "Update Item Status" %>
          <% end %>

        </td>
        <td>
          <% if !invoice_item.bulk_discount.nil?  %>
          <%= link_to "#{invoice_item.bulk_discount.percentage_discount}%",merchant_bulk_discount_path(@merchant.id, invoice_item.bulk_discount), style: "color:white" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
</section>
