<h3 class="alert alert-dark" style="width:300px">Admin Dashboard</h3>
<%= render "/shared/admin_links" %><br>
<h1 class="alert alert-info"><center>Main</center> </h1>

    <div id="table-wrapper" style="float:right">
      <div id="table-scroll">
        <table class="table table-striped table-borderless">
          <thead >
            <tr>
              <th scope="col"><span class="text white_glow"><h2>Incomplete Invoices:</h2></span></th>
            </tr>
          </thead>
          <% @invoices.incomplete_invoices.each do |invoice| %>
            <tbody>
              <tr>
              <td><%= link_to "Invoice #{invoice.id} | #{invoice.created_at.strftime("%A, %B %d, %Y")}", "/admin/invoices/#{invoice.id}", id: "invoice-#{invoice.id}", style: "color:white"%></td>
              </tr>
            </tbody>
          <% end %>
          </table>
        </div>
     </div>

<section class="top-customers">
  <h2 style="width:50%" class="white_glow"><center> Top Customers</center></h2>
    <table class="table table-striped table-borderless" style="width:50%">
      <thead style="text-align:center">
        <tr>
          <th scope="col" class="white_glow">First Name:</th>
          <th scope="col" class="white_glow">Last Name:</th>
          <th scope="col" class="white_glow">Purchases:</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.top_5_customers_with_success.each do |cust| %>
          <tr style="text-align:center">
            <td><%= cust.first_name %></td>
            <td><%= cust.last_name %></td>
            <td><%= cust.transaction_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>
