<h3 class="alert alert-dark" style="width:300px">Admin Dashboard</h3>
<%= render "/shared/admin_links" %><br>
<div class="nav justify-content-begin" style="padding-bottom:15px">
  <%= button_to "Create Merchant", "/admin/merchants/new", method: :get, local: true, class: "btn btn-outline-light" %>
</div>
<center><%= render "shared/flash" %></center>
<h1 class="alert alert-info"><center>Merchants Dashboard</center> </h1>

<h2 class="text white_glow"><center>Top Merchants</center></h2>
  <table class="table center table-striped table-borderless">
    <thead style="text-align:center">
      <tr>
        <th scope="col" class="white_glow">Merchant Name:</th>
        <th scope="col" class="white_glow">Top selling date:</th>
        <th scope="col" class="white_glow">Total Revenue:</th>
      </tr>
    </thead>
    <tbody>
      <% @merchants.top_5_by_revenue.each do |merc| %>
        <tr style="text-align:center" class="border_bottom">
          <td id="merchant-<%= merc.id %>"><%=link_to "#{merc.name}", "/admin/merchants/#{merc.id}", style:"color:white"%></td>
          <td><%= merc.invoice_items.top_sales_date.strftime("%A, %B %d, %Y") %></td>
          <td>$<%= number_with_precision(merc.total_revenue, :precision => 2, :delimiter => ',')%><td>
        </tr>
      <% end %>
    </tbody>
  </table>

        <%= render partial: "enabled" %>
        <%= render partial: "disabled" %>
