<header>
  <h1 class="alert alert-dark" style="width:500px"><center><%= @merchant.name %></center></h1>
  <%= render partial: "/shared/merc_links", locals: {merchant: @merchant} %><br>
</header>
<center> <%= render partial: "flash" %> </center>
<h3 class="alert alert-info"><center><%= @item.name %></center> </h3>
<p>Description: <%= @item.description %></p>
<p>Current Price: <%= number_to_currency(@item.unit_price, precision: 0) %></p>
<%= button_to "Update Item", edit_merchant_item_path(@merchant, @item), method: :get %>
